<!-- TODO: Clear out all summit related markup -->
<!-- TODO: Fix CSS names to match semantic context -->
<div id="manufacturing">
    <article class="container" id="home" alt="Banner Image">
        <br>
        <!-- <div class="row text-center" id="transborder">
            <img src="{{event.logo}}">
            <h1><strong>{{{event.Name}}}</strong></h1>
            <h2><strong>{{event.date}}</strong></h2>
            <h3><strong>{{event.Host_City__c}}, {{event.Host_Country__c}}</strong></h3>
        </div> -->
        <br>
        <br>
    </article>
    <article class="container" id="">
        <div class="row">
            <div class="six columns">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_350/v1487870817/Events/IntlConference/2017/29th-Logo-web.png"
                    alt="Conference Logo">
            </div>
            <div class="six columns" style="margin-top: 40px;">
                <p>{{{event.Sales_Text__c}}}</p>
            </div>
        </div>
        <div class="row">
            <br>        
        </div>
    </article>
    <article class="container">
        <div class="row text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LmWhXbdOze0" frameborder="0" allowfullscreen></iframe>
        </div>
    </article>
    <div id="agenda"></div>
    {{>_intl-agenda event=event}}
    <div id="registration"></div>
    <article class="container" id="s-registration">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">REGISTRATION</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="seven columns">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>Pricing for Main Conference</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each event.Shingo_Prices__r.records}}
                        <tr>
                            <td>
                                <h5>{{this.Name}}</h5>
                            </td>
                            <td>
                                <h5>${{this.Price__c}}</h5>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <p class="text-center">** Student &amp; Active Military Price: $450 (Package 1)</p>
            </div>
            <div class="five columns text-center">
                <br>
                <br>
                <div class="text-center large info btn"><a href="{{event.Registration_Link__c}}" onClick="ga('send', 'event', '{{event.Name}}', 'click', '{{event.Name}} - Registration', 0)" target="_blank">Register</a></div>
                <br>
                <br>
               <div class="row"><h4 class="text-center">Groups of 5+ will save 25% off Main Conference!</h4></div>
            </div>
        </div>
        <!-- <div class="hidden" id="speakers">&nbsp;</div> -->
    </article>
    <div id="speakers"></div>
    <article class="container" id="s-speakers">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">SPEAKERS</h3>
                <hr>
            </div>
        </div>
        <div class="row" id="all-speakers">
            <!-- Keynote Speakers -->
            <h4 class="text-center">Keynote Speakers</h4>
            <ul class="three_up tiles speakers">
                {{#each keynote}} {{>_intl-speaker speaker=this}} {{/each}}
            </ul>
            {{#each keynote}} {{>_intl-speaker-bio speaker=this}} {{/each}}
            <!-- Concurrent Speakers -->
            <h4 class="text-center">Concurrent Speakers</h4>
            <ul class="four_up tiles speakers">
                {{#each concurrent}} {{>_intl-speaker speaker=this}} {{/each}}
            </ul>
            {{#each concurrent}} {{>_intl-speaker-bio speaker=this}} {{/each}}
        </div>
        <!-- <div class="hidden" id="travel">&nbsp;</div> -->
    </article>
    <div id="travel"></div>
    <article class="container" id="s-travel">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">TRAVEL &amp; ACCOMMODATIONS</h3>
                <hr>
                <!-- <h4 class="roboto text-center">{{event.ta_info.title}}</h4> -->
            </div>
        </div>
        <br>
        <div class="row">
            <table class="hide-for-small accommodations">
                <tr>
                    <td id="loc">
                        <h5 class="text-center">LOCATION</h5>
                        <!-- {{{event.ta_info.location}}} -->
                        <p>Atlanta Marriott Marquis
                            <br>265 Peachtree Center Ave NE
                            <br>Atlanta, GA 30303
                            <br>(404) 521-0000</p>
                    </td>
                    <td id="trav">
                        <!-- <h5 class="text-center">TRAVEL</h5> {{{event.ta_info.travel}}} -->
                        <h5 class="text-center">TRAVEL</h5>
                        <p><strong>Marta Map</strong>: <a href="https://martaguide.com/rail-station-map/">https://martaguide.com/rail-station-map/</a>
                            <br>* From ATL airport get on Red or Gold north-bound line and exit at Peachtree Center Station.
                            There is a covered walkway that connects to the Marriott Marquis.
                            <br>Airport: Hartsfield-Jackson International Airport (ATL)</p>
                    </td>
                    <td id="hot">
                        <h5 class="text-center">HOTEL</h5>
                        <!--{{{event.ta_info.hotel}}} -->
                        <p><strong>Atlanta Marriott Marquis</strong><br>
                        Shingo Group Rate: $175/night<br>
                        <a href="https://aws.passkey.com/e/48962566" target="_blank">Reservations</a>
                        <br><br>For phone reservations, please call  1-866-469-5475 and mention you are part of the Shingo group.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                    <h5 class="text-center">SAVINGS IN THE CITY</h5>
                    <p>
                        Special offers on dining, attractions, shopping, nightlife and more.
                        <br>
                        <a href="http://www2.atlanta.net/savings/index.aspx?meetingNum=144524&accountNum=00081854">http://www2.atlanta.net/savings/index.aspx?meetingNum=144524&accountNum=00081854</a>
                    </p> 
                    </td>
                    <td id="int">
                        <h5 class="text-center">INTERNET</h5>
                        <!-- {{{event.ta_info.internet}}} -->
                        <p>Complimentary wifi for Marriott Rewards members.
                            <br>Sign up here: <a href="http://bit.ly/2hOB1gF">http://bit.ly/2hOB1gF</a></p>
                    </td>
                    <td id="todo">
                        <h5 class="text-center">THINGS TO DO</h5>
                        <!-- {{{event.ta_info.things}}}   -->
                        <ul class="square">
                            <li>Peachtree Center Mall</li>
                            <li>Georgia Aquarium</li>
                            <li>World of Coca-Cola</li>
                            <li>Centennial Olympic Park</li>
                            <li>CNN Center</li>
                            <li>College Football Hall of Fame</li>
                            <li>Georgia Dome</li>
                            <li>Mercedes Benz Stadium</li>
                            <li>Philips Arena</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="show-for-small accommodations">
                <div class="row">
                    <div class="four columns">
                        <h5 class="text-center">LOCATION</h5>
                        <p>Atlanta Marriott Marquis
                            <br>265 Peachtree Center Ave NE
                            <br>Atlanta, GA 30303
                            <br>(404) 521-0000</p>
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">TRAVEL</h5>
                        <p><strong>Marta Map</strong>: <a href="https://martaguide.com/rail-station-map/">https://martaguide.com/rail-station-map/</a>
                            <br>* From ATL airport get on Red or Gold north-bound line and exit at Peachtree Center Station.
                            There is a covered walkway that connects to the Marriott Marquis.
                            <br>Airport: Hartsfield-Jackson International Airport (ATL)</p>
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">HOTEL</h5>
                        <p><strong>Atlanta Marriott Marquis</strong><br>Shingo Group Rate: $175/night</p>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        <h5 class="text-center">SAVINGS IN THE CITY</h5>
                        <p>
                            Special offers on dining, attractions, shopping, nightlife and more.
                            <br>
                            <a href="http://www2.atlanta.net/savings/index.aspx?meetingNum=144524&accountNum=00081854">http://www2.atlanta.net/savings/index.aspx?meetingNum=144524&accountNum=00081854</a>
                        </p> 
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">INTERNET</h5>
                        <p>Complimentary wifi for Marriott Rewards members.
                            <br>Sign up here: <a href="http://bit.ly/2hOB1gF">http://bit.ly/2hOB1gF</a></p>
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">THINGS TO DO</h5>
                        <ul class="square">
                            <li>Peachtree Center Mall</li>
                            <li>Georgia Aquarium</li>
                            <li>World of Coca-Cola</li>
                            <li>Centennial Olympic Park</li>
                            <li>CNN Center</li>
                            <li>College Football Hall of Fame</li>
                            <li>Georgia Dome</li>
                            <li>Mercedes Benz Stadium</li>
                            <li>Philips Arena</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </article>
    <div id="sponsors"></div>
    <article class="container">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">Sponsor/Exhibitor Information</h3>
                <hr>
            </div>
        </div>
        <div class="row text-center">
            <h4>
                <a href="https://usu.box.com/s/cgikfwjllq2te75x7125x9n61egjbmkp">Click here to view</a> opportunities to exhibit at the Shingo Conference or to become a sponsor.
                <br><br><strong>Thanks to our sponsors below!</strong>
            </h4>
        </div>
        <br>
        <div class="row">
            <div class="six columns text-center">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1485190137/CompanyLogos/BostonScientific-2017.jpg" alt="Boston Scientific Logo">                
            </div>
            <div class="six columns text-center">
                <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1485190805/CompanyLogos/OCTanner-2017.png" alt="OC Tanner Logo">  
            </div>
        </div>
        <br>
        <div class="row">
            <div class="twelve columns text-center">
                <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_250/v1488994177/CompanyLogos/GAHELogo2017.jpg" alt="GAHE Logo">
            </div>
        </div>
    </article>
</div>