<div id="manufacturing">
    <article class="container" id="home" alt="Banner Image">
        <br>
        <!-- <div class="row text-center" id="transborder">
            <img src="{{event.logo}}">
            <h1><strong>{{{event.Name}}}</strong></h1>
            <h2><strong>{{event.date}}</strong></h2>
            <h3><strong>{{event.Host_City__c}}, {{event.Host_Country__c}}</strong></h3>
        </div> -->
        <br>
        <br>
    </article>

    <article class="container" id="">
        <div class="row">
            <div class="six columns">
              <img src="http://res.cloudinary.com/shingo/image/upload/c_scale,h_350/v1478125375/Events/IntlConference/29th-Logo-web.png" alt="Conference Logo">
            </div>
            <div class="six columns" style="margin-top: 40px;">
              <p>{{{event.Sales_Text__c}}}</p>
            </div>
        </div>
        <div class="hidden" id="agenda">&nbsp;</div>
    </article>

    <article class="container">
      <div class="row text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LmWhXbdOze0" frameborder="0" allowfullscreen></iframe>
      </div>
    </article>

    {{>_intl-agenda event=event}}

    <article class="container" id="s-registration">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">REGISTRATION</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="seven columns">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h4>Pricing for Main Conference</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each event.Shingo_Prices__r.records}}
                            <tr>
                                <td>
                                    <h5>{{this.Name}}</h5>
                                </td>
                                <td>
                                    <h5>${{this.Price__c}}</h5>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="five columns text-center">
                <br>
                <br>
                <div class="text-center large info btn"><a href="{{event.Registration_Link__c}}" target="_blank">Register</a></div>
                <br>
                <br>
                <!-- <p id="discount"></p> -->
            </div>
        </div>
        <div class="hidden" id="speakers">&nbsp;</div>
    </article>

    <article class="container" id="s-speakers">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">SPEAKERS</h3>
                <hr>
            </div>
        </div>
        <div class="row" id="all-speakers">

            <!-- Keynote Speakers -->
            <h4 class="text-center">Keynote Speakers</h4>
            <ul class="three_up tiles speakers">
                {{#each keynote}}
                    {{>_intl-speaker speaker=this}}
                {{/each}}
            </ul>
            {{#each keynote}}
                {{>_intl-speaker-bio speaker=this}}
            {{/each}}

            <!-- Concurrent Speakers -->
            <h4 class="text-center">Concurrent Speakers</h4>
            <ul class="four_up tiles speakers">
                {{#each concurrent}}
                    {{>_intl-speaker speaker=this}}
                {{/each}}
            </ul>
            {{#each concurrent}}
                {{>_intl-speaker-bio speaker=this}}
            {{/each}}

        </div>
        <div class="hidden" id="travel">&nbsp;</div>
        <div class="hidden" id="sponsors"></div>
    </article>

    <!-- <article class="container" id="s-travel">
        <div class="row">
            <div class="six columns centered">
                <h3 class="text-center">TRAVEL &amp; ACCOMMODATIONS</h3>
                <hr>
                <h4 class="roboto text-center">{{event.ta_info.title}}</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <table class="hide-for-small accommodations">
                <tr>
                    <td id="loc">
                        <h5 class="text-center">LOCATION</h5> {{{event.ta_info.location}}}
                    </td>
                    <td id="trav">
                        <h5 class="text-center">TRAVEL</h5> {{{event.ta_info.travel}}}
                    </td>
                    <td id="hot">
                        <h5 class="text-center">HOTEL</h5> {{{event.ta_info.hotel}}}
                    </td>
                </tr>
                <tr>
                    <td id="park">
                        <h5 class="text-center">PARKING</h5> {{{event.ta_info.parking}}}
                    </td>
                    <td id="int">
                        <h5 class="text-center">INTERNET</h5> {{{event.ta_info.internet}}}
                    </td>
                    <td id="todo">
                        <h5 class="text-center">THINGS TO DO</h5> {{{event.ta_info.things}}}
                    </td>
                </tr>
            </table>
            <div class="show-for-small accommodations">
                <div class="row">
                    <div class="four columns">
                        <h5 class="text-center">LOCATION</h5> {{{event.ta_info.location}}}
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">TRAVEL</h5> {{{event.ta_info.travel}}}
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">HOTEL</h5> {{{event.ta_info.hotel}}}
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        <h5 class="text-center">PARKING</h5> {{{event.ta_info.parking}}}
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">INTERNET</h5> {{{event.ta_info.internet}}}
                    </div>
                    <div class="four columns">
                        <h5 class="text-center">THINGS TO DO</h5> {{{event.ta_info.things}}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="hidden" id="sponsors"></div>
    </article> -->

    <article class="container">
        <div class="row">
            <div class="six columns centered">
              <h4 class="text-center"><a href="https://usu.box.com/s/cgikfwjllq2te75x7125x9n61egjbmkp" target="_blank">Sponsor/Exhibitor Information</a></h4>
            </div>
        </div>
    </article>
</div>
