<a href="affiliates/{{Id}}" onclick="trackOutboundLink('{{Name}}', 'Affiliate Page', 'Affiliates List')">
    <div class="affiliate-card">
        <div class="affiliate-logo">
            <img style="max-height: 100px;"src="{{Logo__c}}" alt="{{Name}}">
        </div>
        <div class="affiliate-card-body">
            <h5><strong>{{Name}}</strong></h5>
            <p>LANGUAGES: {{Languages__c}} </p>
            <br>
        </div>
    </div>
</a>