<div class="workshop-card"
  data-workshop-type="{{Workshop_Type__c}}"
  data-workshop-location="{{Event_Country__c}}"
  data-workshop-month="{{prettyMonth Start_Date__c}}"
  >
  {{#if workshopTypeFull}}
  <div class="workshop-card-title">
    <h5 class="quattrocento card-title"><strong>{{workshopTypeFull}}</strong></h5>
  </div>
  {{/if}}
  <div class="workshop-card-body">
    <h5 class="quattrocento"><strong>{{prettyDate Start_Date__c End_Date__c}}</strong></h5>
    <h6 class="quattrocento"><strong>{{Event_City__c}}, {{Event_Country__c}}</strong></h6>
    <p class="indent">Host: {{Host_Site__c}}<br>
    Affiliate: <a href="../affiliates/{{Organizing_Affiliate__r.Id}}" onclick="trackOutboundLink('{{Organizing_Affiliate__r.Name}}', 'Affiliate Page', 'Workshop - {{Id}}')"><em><strong>{{Organizing_Affiliate__r.Name}}</strong></em></a></p>
    {{#if hasAdditionalInfo}}
      <p class="indent">{{Additional_Information__c}}</p>
    {{/if}}
  </div>
  <div class="workshop-card-actions">
    <div role="link"
      class="medium btn {{Workshop_Type__c}}">
      <a href="{{Registration_Website__c}}"
         onclick="trackOutboundLink('{{Organizing_Affiliate__r.Name}}', 'Workshop Register', 'Workshop - {{Id}}')"
         target="_blank">
        Register
      </a>
    </div>
  </div>
  <div class="workshop-card__background" style="background-image: url('../images/{{Workshop_Type__c}}Button.png')"></div>
</div>