<li>
  <h6 class="quattrocento"><strong>{{prettyDate Event_Start_Date__c Event_End_Date__c}}</strong></h6>
  <p class="indent">Host Company: {{Host_Organization__c}}<br>
  Location: {{Host_City__c}}, {{Host_Country__c}}<br>
  Affiliate: <a href="{{Organizing_Group__r.Page_Path__c}}"><em><strong>{{Organizing_Group__r.Name}}</strong></em></a></p>  <!-- TODO Name and website linke -->
  <div class="text-center">
      <p class="brown medium btn"><a href="{{Event_Website__c}}" target="_blank">Register</a></p>
  </div>
</li>
