<li style="min-height: 475px">
    <div class="twelve columns">
        <img src="{{speaker.Picture_URL__c}}" alt="{{speaker.Name}}'s Photo'">
    </div>
    <div class="row name">
        <div class="nine columns">
            <h5><strong>{{speaker.Name}}</strong></h5>
            <p>{{speaker.Speaker_Title__c}}
               <!-- <br>{{speaker.Organization__r.Name}} --></p>
        </div>
        <div class="two columns text-center hide-for-small">
            <h3><a href="#{{speaker.Id}}" class="switch" gumby-trigger="#{{speaker.Id}}"><i class="icon-plus"></i></a></h3>
        </div>
    </div>
</li>
