<tr>
    <td>{{prettyMonth date}}</td>
    <td><a href={{link}}>{{Name}}</a></td>
    {{#if Press_Release_Link__c}}
        <td><a href={{Press_Release_Link__c}}>PR</a></td>
    {{/if}}
    <td>{{info}}</td>
</tr>
