<tr>
    <td>{{date}}</td>
    <td><a href={{link}}>{{Name}}</a></td>
    <td>
        {{#if Press_Release_Link__c}}
            <a href={{Press_Release_Link__c}}>PR</a>
        {{/if}}
    </td>
    <td>{{info}}</td>
</tr>
