<tr>
    <td>{{date}}</td>
    {{#if link}}
        <td><a href={{link}} target="_blank">{{Name}}</a></td>
    {{else}}
        <td>{{Name}}</td>
    {{/if}}
    <td style="text-align: center;">
        {{#if Press_Release_Link__c}}
            <a href={{Press_Release_Link__c}} target="_blank"><img src="../images/download.png" alt="Click to download the Press Release" style="width: 25px; height: auto; margin: auto;"></a>
        {{/if}}
    </td>
    <td>{{info}}</td>
</tr>
