<!-- InstanceBeginEditable name="main" -->
<article class="container" id="about">
	<div class="row">
		<div class="nine centered columns">
			<h2 class="text-center quattrocento"><strong>Our Purpose:</strong></h2>
			<h2 class="text-center quattrocento">Based on timeless principles, we shape cultures that drive operational excellence.</h2>
			<h3 class="text-center"><strong>Our Mission:</strong></h3>
			<h3 class="text-center">To improve the process of improvement by conducting cutting edge research, providing relevant education, performing insightful enterprise assessment, and recognizing organizations committed to achieving sustainable world-class results.</h3>
		</div>
	</div>
	<br>
	<div class="row">
		<img src="http://res.cloudinary.com/shingo/image/upload/v1466432700/WebContent/shigeoshingo_small.jpg">
		<h5>Our Namesake</h5>
		<p>Few individuals have contributed as much to the development of the ideas we call TQM, JIT and lean as did Shigeo Shingo. Over the course of his life, Dr. Shingo wrote and published 18 books, eight of which were translated from Japanese into English.
			Many years before they became popular in the Western world, Dr. Shingo wrote about the ideas of ensuring quality at the source, flowing value to customers, working with zero inventories, rapidly setting up machines through the system of “single-minute
			exchange of dies” (SMED) and going to the actual workplace to grasp the true situation there (“going to gemba”). He worked extensively with Toyota executives, especially Mr. Taiichi Ohno, who helped him to apply his understanding of these concepts
			in the real world.</p>
		<p>Always on the leading edge of new ideas, Dr. Shingo envisioned a collaboration with an organization that would further his life’s work through research, practical-yet-rigorous education and a program for recognizing the best in enterprise excellence
			throughout the world. In 1988, Shingo received his honorary Doctorate of Management from Utah State University and, later that year, his ambitions were realized when the Shingo Prize was organized and incorporated as part of the university. While the
			Shingo Prize remains an integral part of what we do, our scope has expanded to include various educational offerings, a focus on research and a growing international network of Shingo Institute Licensed Affiliates.</p>
	</div>
	<div class="hidden" id="staff">&nbsp;</div>
</article>

<article class="container">
	<div class="row">
		<h3>Shingo Team</h3>
		<hr>
	</div>
	<div class="row">
		<ul class="two_up tiles">
			{{#each staff}}
				<li>
					<div class="tile">
						<img src="{{Photograph__c}}" alt="{{Name}}">
					</div>
					<div class="tile" style="max-width: 200px;">
						<h4>{{Name}}</h4>
						<br>
						<p>{{Title}}
							<br>
							<a href="mailto:{{Email}}">{{Email}}</a>
							<br>
							<a href="tel:{{Phone}}">{{Phone}}</a></p>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</article>
