<!-- InstanceBeginEditable name="main" -->
<article class="container" id="academy">
	<div class="row">
		<div class="nine centered columns text-center">
			<h2 class="quattrocento">Shingo Academy</h2>
			<hr>
			<p>Membership in the Shingo Academy is an honor bestowed upon individuals who have distinguished themselves in careers of operational excellence. Members of the Academy enrich the events of the Shingo Institute by attending and by providing contacts for speakers, site tours, research, and advice. Think of the Shingo Academy as the Lean Hall of Fame.</p>
 			<p>New members are inducted into the Shingo Academy each year. To nominate an individual for addition to the Shingo Academy, please email academy chair Helen Zak, Chief Development Officer at Catalysis: hzak@createvalue.org</p>
		</div>
	</div>
	<br>
	<div class="row">               
                <table class="striped">
                    <div style="margin-bottom: 10px;">
                        <button class="med-btn-blue" onclick='changePage(`page1`)'>A - F</button>
                        <button class="med-btn-blue" onclick='changePage(`page2`)'>G - M</button>
                        <button class="med-btn-blue" onclick='changePage(`page3`)'>N - Z</button>
                        <p style="display: inline-block;">(Examiners filtered alphabetically by first name.)</p>
                    </div>
                    <thead>
                        <tr>
                            <th>Examiner</th>
                            <th>Position</th>
                            <th>Company</th>
                        </tr>
                    </thead>

                    <tbody id='page1' style='display: '>                
                                    {{#each names_A_to_F}}
                                        <tr>
                                            <td>{{Name}}</td>
                                            <td>{{Title}}</td>
                                            <td>{{Account.Name}}</td>
                                        </tr> 
                                    {{/each}}                                       
                    </tbody>
                    <tbody id='page2' style='display:none'>                
                                    {{#each names_G_to_M}}
                                        <tr>
                                            <td>{{Name}}</td>
                                            <td>{{Title}}</td>
                                            <td>{{Account.Name}}</td>
                                        </tr> 
                                    {{/each}}                                       
                    </tbody>
                    <tbody id='page3' style='display:none'>                
                                    {{#each names_N_to_Z}}
                                        <tr>
                                            <td>{{Name}}</td>
                                            <td>{{Title}}</td>
                                            <td>{{Account.Name}}</td>
                                        </tr> 
                                    {{/each}}                                       
                    </tbody>
                </table>
            </div>
            <script>
                /* This function takes the id of a page as an input
                and changes that page's display to '', if the id does not
                match then the display is changed to none so that only the
                selected pages actually displays */

                function changePage(id) {
                   const pages = ['page1','page2','page3']
                   document.getElementById(id).style.display = ''
                   for(let i = 0; i < 4; i++) {
                       if(id != pages[i]) {
                           document.getElementById(pages[i]).style.display = 'none'
                       }
                   }
                }
            </script>
        </table>
    </div>
</article>
<!-- InstanceEndEditable -->
