<!-- InstanceBeginEditable name="main" -->
<article class="container" id="seab">
	<div class="row">
		<div class="nine centered columns text-center">
			<h2 class="quattrocento">Shingo Executive Advisory Board</h2>
			<hr>
			<p>The Shingo Executive Advisory Board consists of outstanding leaders from a wide variety of organizations and industries who have established themselves in their careers as principle-centered leaders building cultures of excellence. Members are chosen
				based on their expertise, commitment to, and willingness to endorse, and promote the principles and mission of the Shingo Institute. In their role as board members, they provide valuable insights, feedback and guidance regarding the work and direction
				of the Shingo Institute.</p>
		</div>
	</div>
	<br>
	<div class="row">
		<ul class="two_up tiles">
			{{#each members}}
				<li>
					<div class="row">
						<div class="six columns">
							<img src="{{Photograph__c}}" alt="{{Name}}">
						</div>
						<div class="six columns">
							<h5><strong>{{Name}}</strong></h5>
							<br>
							<p>{{Title}}
								<br><strong>{{Account.Name}}</strong></p>
							<p><a href="#" class="switch" gumby-trigger="#{{Id}}">About</a></p>
						</div>
						<div class="modal" id="{{Id}}">
							<div class="content">
								{{{Biography__c}}}
								<div class="text-center">
									<p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
								</div>
							</div>
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
	<div id="specialadvisors" class="row">
		<div class="nine centered columns text-center">
			<h2 class="quattrocento">Special Advisors</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<ul class="two_up tiles">
			<li>
				<div class="row">
					<div class="six columns">
						<img src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_face,h_300,w_300/v1465240490/WilliamWang_vu98lx.jpg" alt="William Wang">
					</div>
					<div class="six columns">
						<h5><strong>William Wang</strong></h5>
						<br>
						<p>Senior Advisor for China Affairs</strong>
						</p>
						<p><a href="#" class="switch" gumby-trigger="#wwang">About</a></p>
					</div>
				</div>
				<div class="modal" id="wwang">
					<div class="content">
						<p><strong>William Wang</strong>has spent over 15 years in lean six sigma study, research, practice and consulting. Mr. Wang is a certified six sigma master black belt covering DMAIC, DFSS and lean. He is a member of the China Association for Quality
							(CAQ) six sigma steering committee, and a certified training instructor for six sigma black belts.</p>
						<p>In 2005, Mr. Wang was a member of the pioneer batch of CAQ certified six sigma black belts, and he now serves as a master black belt providing 500+ clients with six sigma management system plans; and six sigma knowledge, training and project coaching.
							He mentors the teams to improve Cpk, RTY, reliability, etc.; and reduce COPQ, lead time, etc. using DMAIC, DFSS and lean methodologies. Mr. Wang has trained 3000+ students, coached 1000+ black belt and green belts, and created about RMB:1 billion
							cost savings for clients.</p>
						<div class="text-center">
							<p class="btn secondary medium"><a href="#" class="switch active" gumby-trigger="|.modal">Close</a></p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<!-- Space Holder -->
			</li>
		</ul>
	</div>
	</div>
</article>
<!-- InstanceEndEditable -->
