
<!-- InstanceBeginEditable name="main" -->
<article class="container" id="examiners">
	<div class="row">
    	<div class="nine centered columns text-center">
            <h2 class="quattrocento">Shingo Site Examiners</h2>
            <hr>
            <p>Examiners serve as a members of a diverse team and provide valuable feedback to the organization or research submission being assessed. An examiner’s expertise is a function of experience and training with the <em>Shingo Model™</em> and assessment criteria and their years of implementation and management.</p>
        </div>
    </div>
    <br>
	<div class="row">
    	<table class="striped">
        	<thead>
            	<tr>
                	<th colspan="3">Shingo Examiners Committee</th>
                </tr>
            </thead>
            <tbody>
								<tr>
                	<td>Shaun Barker (Chair)</td>
                    <td>Assistant Director</td>
                    <td>Shingo Institute</td>
                </tr>
                <tr>
                	<td>Joanne Deys</td>
                    <td>President</td>
                    <td>Brightside Alliance, LLC</td>
                </tr>
                <tr>
                	<td>Bruce Hamilton</td>
                    <td>President</td>
                    <td>Greater Boston Manufacturing Partnership</td>
                </tr>
                <tr>
                	<td>Dale Lucht</td>
                    <td>Master Coach</td>
                    <td>Discover Financial Services</td>
                </tr>
                <tr>
                	<td>Mike Martyn</td>
                    <td>Founder</td>
                    <td>SISU Consulting Group</td>
                </tr>
                <tr>
                	<td>Paul Terry</td>
                    <td>VP Supply Chain</td>
                    <td>O.C. Tanner Company</td>
                </tr>
            </tbody>
            <div class="row">               
                <table class="striped">
                    <div style="margin-bottom: 10px;">
                        <button class="med-btn-blue" onclick='changePage(`page1`)'>A - F</button>
                        <button class="med-btn-blue" onclick='changePage(`page2`)'>G - M</button>
                        <button class="med-btn-blue" onclick='changePage(`page3`)'>N - Z</button>
                        <p style="display: inline-block;">(Examiners filtered alphabetically by first name.)</p>
                    </div>
                    <thead>
                        <tr>
                            <th>Examiner</th>
                            <th>Position</th>
                            <th>Company</th>
                        </tr>
                    </thead>

                    <tbody id='page1' style='display: '>                
                                    {{#each examiners_A_to_F}}
                                        <tr>
                                            <td>{{Name}}</td>
                                            <td>{{Title}}</td>
                                            <td>{{Account.Name}}</td>
                                        </tr> 
                                    {{/each}}                                       
                    </tbody>
                    <tbody id='page2' style='display:none'>                
                                    {{#each examiners_G_to_M}}
                                        <tr>
                                            <td>{{Name}}</td>
                                            <td>{{Title}}</td>
                                            <td>{{Account.Name}}</td>
                                        </tr> 
                                    {{/each}}                                       
                    </tbody>
                    <tbody id='page3' style='display:none'>                
                                    {{#each examiners_N_to_Z}}
                                        <tr>
                                            <td>{{Name}}</td>
                                            <td>{{Title}}</td>
                                            <td>{{Account.Name}}</td>
                                        </tr> 
                                    {{/each}}                                       
                    </tbody>
                </table>
            </div>
            <script>
                /* This function takes the id of a page as an input
                and changes that page's display to '', if the id does not
                match then the display is changed to none so that only the
                selected pages actually displays */

                function changePage(id) {
                   const pages = ['page1','page2','page3']
                   document.getElementById(id).style.display = ''
                   for(let i = 0; i < 4; i++) {
                       if(id != pages[i]) {
                           document.getElementById(pages[i]).style.display = 'none'
                       }
                   }
                }
            </script>
        </table>
    </div>
    <br>
</article>
<!-- InstanceEndEditable -->
