<article class="container" id="affiliates">
    <div class="row">
        <div class="nine centered columns text-center">
            <h2 class="quattrocento">Meet Our Affiliates</h2>
            <h5><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>
            <h4>Shingo Institute Licensed Affiliates bring years of experience and a wide array of expertise to our clients. They serve as an extension of the Shingo Institute team as they share, promote and deploy the <em>Shingo Model™</em> throughout the world.</h4>
        </div>
    </div>
    <br>
    <!-- Standard Size Screen -->
    <div class="row">
        <ul class="afflist three_up tiles centered hide-for-small">
            {{#each affiliates}}
                <li>
                    <div class="row">
                        <div class="twelve columns centered">
                            <a href="affiliates/{{Id}}" onclick="trackOutboundLink('{{Name}}', 'Affiliate Page', 'Affiliates List')">
                                <div class="text-center">
                                    <img src="{{Logo__c}}" alt="{{Name}}">
                                </div>
                                <h4>{{Name}}</h4>
                                <p>LANGUAGES: {{Languages__c}} </p>
                                <br>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <!-- Small Screen -->
        <ul class="afflist centered show-for-small">
            {{#each affiliates}}
                <li>
                    <div class="row">
                        <div class="twelve columns centered">
                            <a href="affiliates/{{Id}}">
                                <div class="text-center">
                                    <img style="max-height: 200px" src="{{Logo__c}}" alt="{{Name}}">
                                </div>
                                <h4>{{Name}}</h4>
                                <p>LANGUAGES: {{Languages__c}} </p>
                                <br>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</article>
<article class="container" id="providers">
    <div class="row">
        <div class="nine centered columns text-center">
            <h2 class="quattrocento">Licensed Online Provider</h2>
            <h5><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>
        </div>
    </div>
    <br>
    <div class="row">
        <ul class="text-center">
            <li>
                <div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/0011200001Gl4QoAAJ">
                            <div class="text-center">
                                <img src="{{myeducator.Logo__c}}" alt="{{myeducator.Name}}">
                            </div>
                            <h4>{{myeducator.Name}}</h4>
                        </a>
                        <p>LANGUAGES: {{myeducator.Languages__c}}</p>
                        <br>
                        <!-- Yes.. This section is a bit trivial.. I know. -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>
<article class="container" id="becomeAFF">
    <div class="row">
        <h4 class="text-center">Interested in becoming a Licensed Affiliate of the Shingo Institute?</h4>
        <br>
        <p>To be considered for affiliation with the Shingo Institute, an organization must become educated and familiar with the Shingo Institute, the <em>Shingo Model™</em> and the Shingo Prize. This can be achieved by attending the Annual Shingo Conference,
            attending the Shingo workshops and courses, as well as participating in a Study Tour.</p>
        <p>An organization must be well established and have a minimum of 10 full-time consultants. The consultants should have expertise in the following areas: lean, continuous Improvement, operational excellence, enterprise excellence, executive coaching
            and senior management training. It is preferred that a member of your organization has worked for or has participated in the consultation of a Shingo Prize-winning organization with specialized industry expertise.</p>
        <p>The Shingo Institute seeks to affiliate with organizations that are well established in targeted regions.</p>
        <div class="text-center">
            <div class="medium primary btn"><a href="https://usu.co1.qualtrics.com/SE/?SID=SV_3V28dNiGxpde1ZH" target="_blank">Apply now</a></div>
        </div>
    </div>
</article>
<script>
    $(document).ready(function(e) {
        $('ul.afflist').each(function() {
            // get current ul
            var $ul = $(this);
            // get array of list items in current ul
            var $liArr = $ul.children('li');
            // Sort the array of li elements
            var m = $liArr.length,
                t, i;
            $liArr.detach();
            while (m) {
                i = Math.floor(Math.random() * m--);
                t = $liArr[m];
                $liArr[m] = $liArr[i];
                $liArr[i] = t;
            }
            // Attach the randomized li elements back to the ul
            $liArr.appendTo($ul);
        });
    });
</script>
