<article class="container" id="affiliates">
    <div class="row">
        <div class="nine centered columns text-center">
            <h2 class="quattrocento">Meet Our Affiliates</h2>
            <h4>Shingo Licensed Affiliates bring years of experience and a wide array of expertise to our clients. Their Certified Shingo Facilitators promote and teach the <em>Shingo Model™</em> all over the world by teaching the five <a href="../education#workshops">Shingo workshops.</a></h4>
            <br>
            <div class="medium primary btn"><a href="../education#workshops">See the Workshop Schedule</a></div>
            <br>
            <br>
            <h5>Click the link to each Shingo Licensed Affiliate below to learn the specialties and regions in which each teaches. Contact information for affiliate appears on their respective pages.</h5>
        </div>
    </div>
    <br>
    <!-- Standard Size Screen -->
    <div class="row">
        <ul class="afflist three_up tiles centered hide-for-small">
            {{#each affiliates}}
                <li>
                    <div class="row">
                        <div class="twelve columns centered">
                            <a href="affiliates/{{Id}}" onclick="trackOutboundLink('{{Name}}', 'Affiliate Page', 'Affiliates List')">
                                <div class="text-center">
                                    <img src="{{Logo__c}}" alt="{{Name}}">
                                </div>
                                <h4>{{Name}}</h4>
                                <p>LANGUAGES: {{Languages__c}} </p>
                                <br>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <!-- Small Screen -->
        <ul class="afflist centered show-for-small">
            {{#each affiliates}}
                <li>
                    <div class="row">
                        <div class="twelve columns centered">
                            <a href="affiliates/{{Id}}">
                                <div class="text-center">
                                    <img style="max-height: 200px" src="{{Logo__c}}" alt="{{Name}}">
                                </div>
                                <h4>{{Name}}</h4>
                                <p>LANGUAGES: {{Languages__c}} </p>
                                <br>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</article>
<article class="container" id="providers">
    <div class="row">
        <div class="nine centered columns text-center">
            <h2 class="quattrocento">Licensed Online Provider</h2>
            <h5><i class="icon-dot"></i> <i class="icon-dot"></i> <i class="icon-dot"></i></h5>
        </div>
    </div>
    <br>
    <div class="row">
        <ul class="text-center">
            <li>
                <div class="row">
                    <div class="twelve columns centered">
                        <a href="affiliates/0011200001Gl4QoAAJ">
                            <div class="text-center">
                                <img src="{{myeducator.Logo__c}}" alt="{{myeducator.Name}}">
                            </div>
                            <h4>{{myeducator.Name}}</h4>
                        </a>
                        <p>LANGUAGES: {{myeducator.Languages__c}}</p>
                        <br>
                        <!-- Yes.. This section is a bit trivial.. I know. -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</article>
<article class="container" id="becomeAFF">
    <div class="row">
        <h4 class="text-center">Interested in becoming a Licensed Affiliate of the Shingo Institute?</h4>
        <br>
        <p>The Shingo Institute seeks to affiliate with organizations that are well established in targeted regions around the world and are interested in becoming Shingo Licensed Affiliates. A potential affiliate organization’s core business must be in transforming cultures of enterprise excellence. Consultants from a potential affiliate organization should have expertise in the following areas: Lean, continuous improvement, operational excellence, enterprise excellence, executive coaching and training at all levels within an organization.</p>
        <p>To become a Shingo Licensed Affiliate, an organization must be well-versed in the <em>Shingo Model™</em> and assessment methodology. This is first achieved by consultants attending the Shingo workshops, and then becoming trained and certified to facilitate Shingo workshops. Potential certified facilitators should be experienced in training and development and be willing to share their expertise with those seeking enterprise excellence.</p>
        <div class="text-center">
            <div class="medium primary btn"><a href="https://usu.co1.qualtrics.com/SE/?SID=SV_3V28dNiGxpde1ZH" target="_blank">Apply now</a></div>
        </div>
    </div>
</article>
<script>
    $(document).ready(function(e) {
        $('ul.afflist').each(function() {
            // get current ul
            var $ul = $(this);
            // get array of list items in current ul
            var $liArr = $ul.children('li');
            // Sort the array of li elements
            var m = $liArr.length,
                t, i;
            $liArr.detach();
            while (m) {
                i = Math.floor(Math.random() * m--);
                t = $liArr[m];
                $liArr[m] = $liArr[i];
                $liArr[i] = t;
            }
            // Attach the randomized li elements back to the ul
            $liArr.appendTo($ul);
        });
    });
</script>
